<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Home - File Uploader</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <main class="container">
      <h1 class="text-center">Welcome to FileUp</h1>
      <% if (!locals.currentUser) { %>
      <article>
        <h2 class="text-center">Please login or create an account!</h2>
      </article>
      <% } else { %>
      <h2 class="text-center">
        Hey <%= currentUser.name %>! <br />
        Select a folder to use
      </h2>
      <div class="grid"></div>
      <% } %>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
