<header>
  <nav class="container">
    <ul>
      <li><strong>File Up</strong></li>
    </ul>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (!locals.currentUser) { %>
      <li><a href="/sign-up">Create account</a></li>
      <li><a href="/login">Login</a></li>
      <% } else { %>
      <li><a href="/user/upload">Upload</a></li>
      <li><a href="/user/folders">Folders</a></li>
      <li><a href="/user">Account</a></li>
      <li><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </nav>
</header>
